<strong>Olá, {{ student }}</strong>
<p>Você agora possui uma matrícula na <strong>GymPoint!</strong></p>
<p>Abaixo os detalhes da sua matrícula:</p>
<p>
  <strong>Plano escolhido: </strong> {{ plan }} <br />
  <strong>Valor mensal do plano: </strong> R${{ planPrice }} <br />
  <strong>Data de início: </strong> {{ startDate }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Preço total a ser pago: </strong> R${{ totalPrice }} <br />
  <br />
  <p>Agradecemos por escolher a <strong>GymPoint</strong></p>
